body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

label, select, input, button {
  margin: 10px 0;
  display: block;
}
#result {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}
#speed-image {
  display: none; /* 初始时隐藏图片 */
  margin-top: 10px;
  max-width: 1000px;
  max-height: 1000px;
}